.Wrapper {
  padding: 16px;
  text-align: center;
}
.LoginButton {
  background: transparent;
  border: 0;
  color: var(--text-color);
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 0;
}
.Image {
  background: transparent;
  border: 0;
  display: block;
  padding: 0;
}
