.Wrapper {
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 auto 16px;
  overflow: hidden;
  padding: 0 16px 16px;
  position: relative;
  text-align: center;
  transition: var(--transition);
  width: 217px;
}

.Active {
  width: 100%;
}

.PasswordLoginInput {
  align-items: center;
  background: transparent;
  border: 1px solid var(--card-border-color);
  border-radius: 3px;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: flex;
  display: block;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  justify-content: space-between;
  left: 0;
  margin: 3px;
  margin: 0;
  padding: 0 10px;
  padding: 0 48px 0 8px;

  /* position: absolute; */
  top: 0;
  width: 100%;
}

.Submit {
  background-color: var(--background-color);
  border: 0;
  border-left: 1px solid var(--card-border-color);
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  display: flex;
  margin: 0;
  outline: 0;
  padding: 9px;
  position: absolute;
  right: 17px;
  top: 1px;
}

.Cancel {
  background-color: var(--background-color);
  border: 0;
  border-left: 1px solid var(--card-border-color);
  cursor: pointer;
  display: flex;
  display: none;
  outline: 0;
  padding: 9px;
  position: absolute;
  right: 56px;
  top: 1px;
}

.Active .Cancel {
  display: flex;
}

.Error {
  border-color: var(--error-text-color);
}

.Error + .Submit {
  border-color: var(--error-text-color);
}

.Wrapper:focus-within {
  width: 100%;
}

.Wrapper:focus-within .Submit {
  border-color: var(--accent-color);
}

.Wrapper:focus-within .PasswordLoginInput {
  border-color: var(--accent-color);
  outline: 0;
}

.Wrapper:focus-within .Cancel {
  border-color: var(--accent-color);
  display: flex;
}

.Wrapper svg {
  color: var(--text-color);
  height: 20px;
  width: 20px;
}
