.Wrapper {
  padding: 0 16px 16px 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 217px;
  box-sizing: border-box;
  height: 40px;
  margin: 0 auto 16px auto;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  transition: var(--transition);
}
.Active,
.Wrapper:focus-within {
  width: 100%;
}
.PasswordLoginInput {
  border: 1px solid var(--card-border-color);
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  padding: 0 10px;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: absolute; */
  top: 0;
  left: 0;
  height: 40px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 48px 0 8px;
  box-sizing: border-box;
  border-radius: 3px;
}
.Wrapper:focus-within .PasswordLoginInput {
  outline: 0;
  border-color: var(--accent-color);
}
.Submit {
  position: absolute;
  right: 17px;
  top: 1px;
  padding: 9px;
  cursor: pointer;
  border: 0;
  display: flex;
  border-left: 1px solid var(--card-border-color);
  background-color: var(--background-color);
  border-radius: 0 3px 3px 0;
  outline: 0;
  margin: 0;
}
.Wrapper:focus-within .Submit {
  border-color: var(--accent-color);
}

.Cancel {
  position: absolute;
  right: 56px;
  top: 1px;
  padding: 9px;
  cursor: pointer;
  border: 0;
  display: flex;
  border-left: 1px solid var(--card-border-color);
  background-color: var(--background-color);
  outline: 0;
  display: none;
}
.Active .Cancel,
.Wrapper:focus-within .Cancel {
  display: flex;
}
.Wrapper:focus-within .Cancel {
  border-color: var(--accent-color);
}

.Wrapper svg {
  height: 20px;
  width: 20px;
  color: var(--text-color);
}

.Error {
  border-color: var(--error-text-color);
}
.Error + .Submit {
  border-color: var(--error-text-color);
}
