.Filters {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.Relics {
  display: grid;
  flex-wrap: wrap;
  gap: 8px;
  grid-template-columns: repeat(auto-fill, 40px);
  justify-content: space-between;
  padding: 16px;
}
