.Wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 24px;
}

.Box {
  height: 200px;
  margin-top: 58px;
  position: relative;
  width: 240px;
}

.BoxValue {
  font-size: 1.5em;
  left: 50%;
  position: absolute;
  top: -58px;
  transform: translate(-50%);
}
