.Wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 24px;
}

.Box {
  width: 240px;
}

.BoxValue {
  font-size: 1.5em;
  margin-bottom: 16px;
}

.BoxFasts {
  display: flex;
  gap: 4px;
  justify-content: space-between;
}

.BoxFastReset {
  background: transparent;
  border: 0;
  text-decoration: underline;
}

.BoxFast {
  background-color: var(--background-color);
  border: 0;
  border: 1px solid var(--card-border-color);
  border-radius: 3px;
  color: inherit;
  cursor: pointer;
  flex-grow: 1;
  height: 32px;
  outline: 0;
  padding: 0 4px;
}
