.Artifact {
  border-radius: 4px;
  box-sizing: border-box;
  height: 48px;
  width: 48px;
}
.Wrapper {
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  outline: 0;
  position: relative;
}

.Highlight .Artifact {
  border: 2px solid var(--accent-color);
}
