.Character {
  border-radius: 6px 0 6px 0;
  box-shadow: var(--afk-hero-shadow);
  display: block;
  width: 100%;
  z-index: 1;
}
.Wrapper {
  align-items: center;
  border-radius: 7px 0 7px 0;
  box-shadow: var(--afk-hero-shadow);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  position: relative;
  width: 40px;
}

.Large .Character {
  border-radius: 8px;
  width: 56px;
}
.Large .Count {
  font-size: 14px;
}

.Small .Character {
  border-radius: 3px;
  width: 24px;
}
.Small .Count {
  display: none;
}

.Highlight .Character {
  border: 2px solid var(--accent-color);
}

.Disabled {
  filter: grayscale(0.8);
  opacity: 0.6;
}

.Elite.Wrapper {
  background: var(--afk-elite-color);
  padding: 3px;
}
.Legendary.Wrapper {
  background: var(--afk-legendary-color);
  padding: 3px;
}
.Mythic.Wrapper {
  background: var(--afk-mythic-color);
  padding: 3px;
}
.Ascend.Wrapper {
  background: var(--afk-ascend-color);
  padding: 3px;
}

.Plus::after,
.Plus::before {
  border: 5px solid;
  border-color: var(--afk-plus-color) var(--afk-plus-color) transparent transparent;
  content: "";
  display: block;
  position: absolute;
}
.Plus::before {
  border-color: var(--afk-plus-color) var(--afk-plus-color) transparent transparent;
  right: 0;
  top: 0;
}
.Plus::after {
  border-color: transparent transparent var(--afk-plus-color) var(--afk-plus-color);
  bottom: 0;
  left: 0;
}

.Faction {
  border-radius: 6px;
  height: 10px;
  left: -1px;
  position: absolute;
  top: 0;
  width: 10px;
  z-index: 2;
}
.NoSi {
  height: 14px;
  left: -3px;
  top: -2px;
  width: 14px;
}
.Si {
  fill: #f5a400;
  filter: drop-shadow(0 0 1px #000);
  height: 22px;
  left: -7px;
  position: absolute;
  stroke: #280e16;
  stroke-linecap: round;
  stroke-width: 4px;
  top: -2px;
  width: 22px;
  z-index: 1;
}
.SiAccent {
  fill: rgba(0, 0, 0, 0.3);
}
.SiAccent2 {
  fill: rgba(255, 255, 255, 1);
}

.Inn {
  display: flex;
  fill: #fff;
  filter: drop-shadow(0 0 1px #000);
  height: 10px;
  justify-content: center;
  left: -1px;
  position: absolute;
  top: 12px;
  width: 10px;
  z-index: 1;
}
.InnInner {
  fill: var(--afk-mythic-color);
  stroke: #000;
  stroke-linecap: round;
  stroke-width: 10px;
}

.Artifact {
  border-radius: 11px;
  filter: drop-shadow(0 0 1px #000);
  height: 22px;
  left: 50%;
  position: absolute;
  stroke: #280e16;
  stroke-linecap: round;
  stroke-width: 4px;
  top: -22px;
  transform: translateX(-50%);
  width: 22px;
  z-index: 1;
}
