.Character {
  border-radius: 6px 0 6px 0;
  box-shadow: var(--afk-hero-shadow);
  box-sizing: border-box;
  display: block;
  width: 100%;
  z-index: 1;
}
.Wrapper {
  align-items: center;
  border-radius: 7px 0 7px 0;
  box-shadow: var(--afk-hero-shadow);
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  outline: 0;
  position: relative;
  width: 48px;
}

.Large .Character {
  border-radius: 8px;
  height: 56px;
  width: 56px;
}
.Large .Count {
  font-size: 14px;
}

.Small.Wrapper {
  box-shadow: none;
  height: 24px;
  width: 24px;
}
.Small .Character {
  border-radius: 50%;
  height: 24px;
  width: 24px;
}
.Small .Count {
  display: none;
}
.Small .NoSi {
  display: none;
}

.Highlight .Character {
  border: 2px solid var(--accent-color);
}

.Disabled {
  filter: grayscale(0.8);
  opacity: 0.6;
}

.Elite.Wrapper {
  background: var(--afk-elite-color);
  padding: 3px;
}
.Legendary.Wrapper {
  background: var(--afk-legendary-color);
  padding: 3px;
}
.Mythic.Wrapper {
  background: var(--afk-mythic-color);
  padding: 3px;
}
.Ascend.Wrapper {
  background: var(--afk-ascend-color);
  padding: 3px;
}

.Plus::after,
.Plus::before {
  border: 5px solid;
  border-color: var(--afk-plus-color) var(--afk-plus-color) transparent transparent;
  content: "";
  display: block;
  position: absolute;
}
.Plus::before {
  border-color: var(--afk-plus-color) var(--afk-plus-color) transparent transparent;
  right: 0;
  top: 0;
}
.Plus::after {
  border-color: transparent transparent var(--afk-plus-color) var(--afk-plus-color);
  bottom: 0;
  left: 0;
}

.Faction {
  border-radius: 6px;
  height: 13px;
  left: 1.5px;
  position: absolute;
  top: 1px;
  width: 13px;
  z-index: 2;
}

.Artifact {
  border-radius: 11px;
  height: 22px;
  left: 50%;
  position: absolute;
  stroke: #280e16;
  stroke-linecap: round;
  stroke-width: 4px;
  top: -22px;
  transform: translateX(-50%);
  width: 22px;
  z-index: 1;
}

.SiFi {
  left: -10px;
  position: absolute;
  top: -7px;
  width: 36px;
  z-index: 3;
}
