.ChooseCharacter {
  align-items: center;
  border-radius: 12px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  height: 56px;
  justify-content: center;
  margin: 4px;
  width: 56px;
}

.Add {
  background-color: var(--card-color);
  border: 0;
  border: 1px solid var(--card-border-color);
  border-radius: 12px 0 18px;
  color: var(--text-color);
  cursor: pointer;
  font-size: 32px;
  height: 100%;
  outline: 0;
  width: 100%;
}
