.Enemi {
  border-radius: 4px;
  width: 40px;
}

.Wrapper {
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  position: relative;
}

.Large .Enemi {
  border-radius: 8px;
  width: 56px;
}

.Large .Count {
  font-size: 14px;
}

.Small .Enemi {
  border-radius: 3px;
  width: 24px;
}

.Small .Count {
  display: none;
}

.Highlight .Enemi {
  border: 2px solid var(--accent-color);
}
