.Item {
  border-radius: 4px;
  height: 40px;
  width: 40px;
}

.Wrapper {
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  position: relative;
}

.Count {
  bottom: 0;
  color: #fafafa;
  font-size: 11px;
  font-weight: 500;
  padding: 2px 4px;
  position: absolute;
  right: 0;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 65%), -1px -1px 2px rgb(0 0 0 / 65%),
    -1px 1px 2px rgb(0 0 0 / 65%), 1px -1px 2px rgb(0 0 0 / 65%);
}

.Infos {
  color: #fafafa;
  font-size: 7.5px;
  font-weight: 900;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 65%), -1px -1px 2px rgb(0 0 0 / 65%),
    -1px 1px 2px rgb(0 0 0 / 65%), 1px -1px 2px rgb(0 0 0 / 65%);
  top: 2px;
}

.OnClick {
  cursor: pointer;
  transition: var(--transition);
}

.OnClick:hover {
  opacity: 0.7;
}

.SecondaryInfos {
  background: rgb(0 0 0 / 90%);
  border-radius: 0 6px 0 0;
  bottom: 0;
  color: #f9eb88;
  font-size: 9px;
  font-weight: 900;
  left: 0;
  line-height: 1em;
  padding: 2px 3px 2px 5px;
  position: absolute;
}

.Large .Item {
  border-radius: 4px;
  height: 56px;
  width: 56px;
}

.Large .Count {
  font-size: 14px;
}

.Large .Infos {
  font-size: 10px;
}

.Large .SecondaryInfos {
  font-size: 12px;
}

.Small .Item {
  border-radius: 3px;
  height: 24px;
  width: 24px;
}

.Small .Count {
  display: none;
}

.Highlight .Item {
  border: 2px solid var(--accent-color);
}
