.MainForm {
  align-items: center;
  display: inline-flex;
  gap: 8px;
  padding: 0 16px 16px;
}

.Image {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.Input {
  background-color: transparent;
  border: 1px solid var(--card-border-color);
  border-radius: 4px;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  height: 32px;
  padding: 8px;
  width: 64px;
}
