.Board {
  background-image: url("./fight.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
  height: 100%;
  width: 100%;
}

.BoardWrapper {
  margin: auto;
  padding: 0 16px;
  position: relative;
}

.Placeholder {
  display: block;
  width: 100%;
}

.Content {
  height: 100%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
