.EnemiPosition {
  align-items: center;
  border-radius: 6px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  width: 40px;
}

.EnemiPosition--6 {
  background-color: var(--card-color);
  right: 14.286%;
  top: 53.333%;
}

.Add {
  background: transparent;
  border: 0;
  border: 1px solid var(--card-border-color);
  border-radius: 6px 0;
  color: var(--text-color);
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  outline: 0;
  width: 100%;
}
