.PlayerPosition {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 56px;
  justify-content: center;
  position: absolute;
  width: 56px;
}

.PlayerPosition--1 {
  left: 28.571%;
  top: 43.714%;
}

.PlayerPosition--2 {
  left: 28.571%;
  top: 62.952%;
}

.PlayerPosition--3 {
  left: 10.286%;
  top: 34.095%;
}

.PlayerPosition--4 {
  left: 10.286%;
  top: 53.333%;
}

.PlayerPosition--5 {
  left: 10.286%;
  top: 72.571%;
}

.Add {
  background-color: var(--card-color);
  border: 0;
  border-radius: 8px 0 16px;
  color: var(--text-color);
  cursor: pointer;
  font-size: 36px;
  height: 100%;
  outline: 0;
  width: 100%;
}
