.ListItem {
  border-bottom: 1px solid var(--list-border);
  padding: 12px 0;
  display: block;
  margin: 0 16px;
  text-decoration: none;
  position: relative;
}
.ListItem::before {
  content: "";
  top: -1px;
  left: -16px;
  right: -16px;
  bottom: -1px;
  position: absolute;
  transition: var(--transition);
}
.ListItem:hover::before {
  background-color: var(--hover-color);
}

.ListItem:first-child {
  border-top: 1px solid var(--list-border);
}
