.EnemiPosition {
  align-items: center;
  border-radius: 6px 0 6px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  width: 40px;
}
.EnemiPosition--6 {
  background-color: #ded6cf;
  right: 14.286%;
  top: 53.333%;
}

.Add {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  outline: 0;
  width: 100%;
}
