.BuyMeACoffee {
  align-items: center;
  background-color: #fd0;
  border: 0;
  border-radius: 8px;
  color: #222;
  cursor: pointer;
  display: inline-flex;
  fill: #222;
  font-family: var(--sans-serif);
  font-size: 14px;
  font-weight: 700;
  gap: 8px;
  padding: 8px 12px 8px 8px;
  text-decoration: none;
  transition: var(--transition);
}

.BuyMeACoffee:hover {
  filter: brightness(1.2);
}

.BuyMeACoffee svg {
  border-right: 1px solid #222;
  height: 16px;
  padding-right: 8px;
  width: 24px;
}
