.Label {
  cursor: pointer;
  width: 100%;
}

.Value {
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 8px 0 0;
  outline: 0;
  padding: 0;
  width: 100%;
}

.Code {
  margin: 16px 0 8px;
}
