.CardSubTitle {
  align-items: center;
  display: flex;
  font-size: 0.75em;
  font-weight: 500;
  font-weight: 300;
  justify-content: space-between;
  padding: 16px 16px 8px;
  position: relative;
  text-transform: uppercase;
}
