.Wrapper {
  padding: 16px;
  position: relative;
}
.Content {
  align-items: center;
  background: var(--card-color);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--text-color);
  display: flex;
  font-size: 0.9em;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  outline: 0;
  padding: 0 8px 0 32px;
  width: 100%;
  cursor: pointer;
}
.Copy {
  background: var(--reverse-background);
  color: var(--reverse-text-color);
  border-radius: 4px;
  top: -16px;
  box-shadow: var(--card-shadow);
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  padding: 4px 8px;
  position: absolute;
  right: 16px;
}
.Icon {
  pointer-events: none;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 24px;
}
.Icon svg {
  height: 18px;
  width: 18px;
}
