.CardTab {
  align-items: center;
  background: transparent;
  border: solid transparent;
  border-width: 3px;
  box-sizing: border-box;
  color: inherit;
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  font-size: inherit;
  height: 48px;
  justify-content: center;
  outline: 0;
}
.Active {
  border-bottom: 3px solid var(--accent-color);
}
