.ListItem {
  border-top: 1px solid var(--list-border);
  display: flex;
  margin: 0 16px;
  padding: 8px 0;
  text-decoration: none;
  position: relative;
  min-height: 48px;
  z-index: 1;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.ListItem:first-child {
  border-top: none;
}
.ListItemAction {
  flex-grow: 0;
}
