.ModalWrapper {
  align-items: center;
  background-color: var(--overlay-color);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  padding: 60px 32px 92px;
  pointer-events: initial;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.Modal {
  background: var(--card-color);
  border-radius: 14px;
  box-shadow: var(--card-shadow);
  box-sizing: border-box;
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
  padding: 16px;
  position: relative;
  width: 480px;
}

.Close {
  border-radius: 50%;
  cursor: pointer;
  fill: var(--text-color);
  height: 32px;
  pointer-events: initial;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: var(--transition);
  width: 32px;
}

.Close:hover {
  background: var(--hover-color);
}
