.Name {
  font-weight: 900;
  margin: 2px 2px 16px;
  position: relative;
  white-space: nowrap;
}

.Name::after {
  border-top: 1px solid rgb(255 255 255 / 30%);
  bottom: -8px;
  content: "";
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 16px;
}

.BuffWrapper {
  display: flex;
  gap: 4px;
}

.Buff {
  margin: 2px;
  white-space: nowrap;
}
