.Toolbar {
  height: 60px;
  display: flex;
  gap: 4px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 16px;
  margin: auto;
  max-width: 600px;
}
.Wrapper {
  background-color: var(--card-color);
  box-shadow: var(--card-reverse-shadow);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
}
