.Link {
  align-items: center;
  box-sizing: border-box;
  color: inherit;
  display: flex;
  flex-basis: 50%;
  font-size: 16px;
  font-weight: 400;
  gap: 8px;
  height: 48px;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}

.Link:hover {
  background-color: var(--hover-color);
}

.Icon {
  height: 24px;
  margin-right: 8px;
  transition: all 0.1s linear;
  width: 24px;
}
