.Burger {
  background-color: var(--hover-color);
  border-radius: 20px;
  color: #fff;
  fill: #fff;
  height: 24px;
  margin-bottom: 4px;
  padding: 3px;
  position: absolute;
  top: 6px;
  width: 24px;
}

.Image {
  border-radius: 16px;
  margin-bottom: 4px;
  position: absolute;
  width: 30px;
  z-index: -1;
}
