.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Earning {
  color: var(--success-text-color);
  margin: 0 16px;
  font-weight: 700;
  text-align: center;
}
.Spending {
  color: var(--error-text-color);
  margin: 0 16px;
  font-weight: 700;
  text-align: center;
}
.BuyMeACoffee {
  margin: 16px;
  display: flex;
  justify-content: center;
}
.BuyMeACoffeeImage {
  height: 40px;
  width: 145px;
}
.Label {
  display: block;
  font-weight: normal;
  font-size: 0.8em;
  margin-bottom: 4px;
}
