.CharacterGrid {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fill, 48px);
  justify-content: center;
  padding-bottom: 16px;
}
.CharacterGrid--large {
  gap: 16px;
  grid-template-columns: repeat(auto-fill, 56px);
}
