.Svg {
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}

.OnClick {
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  transition: var(--transition);
}

.OnClick:hover {
  background-color: var(--hover-color);
}
