.TabKingTower {
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  position: relative;
}

.Background {
  display: block;
  width: 100%;
}

.KingTower {
  color: #fae4b6;
  left: 24.8%;
  position: absolute;
  top: 41.1%;
  width: 50%;
}

.LighbearerTower {
  color: #74e4e4;
  left: 4.1%;
  position: absolute;
  top: 47.4%;
  width: 50%;
}

.MaulerTower {
  color: #fea208;
  left: 7.8%;
  position: absolute;
  top: 63.9%;
  width: 50%;
}

.WilderTower {
  color: #a3f780;
  left: 43.5%;
  position: absolute;
  top: 32.5%;
  width: 50%;
}

.GravebornTower {
  color: #ebfe77;
  left: 43.9%;
  position: absolute;
  top: 60.1%;
  width: 50%;
}

.CelestialTower {
  color: #fff;
  left: 4.8%;
  position: absolute;
  top: 25.5%;
  width: 50%;
}

.HypogeanTower {
  color: #ffa2fd;
  left: 30.8%;
  position: absolute;
  top: 79%;
  width: 50%;
}

.FactionIcon {
  height: 16px;
  margin-right: 2px;
  width: 16px;
}

.Name {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 4px #000;
  text-shadow: -1px -1px 1px #472b1b, -1px 1px 1px #472b1b, 1px -1px 1px #472b1b,
    1px 1px 1px #472b1b, 0 1px 1px #472b1b, 0 -1px 1px #472b1b, 1px 0 1px #472b1b,
    -1px 0 1px #472b1b;
  width: 100%;
}

.Level {
  display: block;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-shadow: 1px 1px 4px #000;
  text-shadow: -1px -1px 1px #472b1b, -1px 1px 1px #472b1b, 1px -1px 1px #472b1b,
    1px 1px 1px #472b1b, 0 1px 1px #472b1b, 0 -1px 1px #472b1b, 1px 0 1px #472b1b,
    -1px 0 1px #472b1b;
  width: 100%;
}

.Action {
  border-radius: 50%;
  display: flex;
  padding: 8px;
  position: absolute;
  right: 0;
  top: 0;
  transition: var(--transition);
}

.Action:hover {
  background-color: var(--hover-color);
}
