.InfosDetail {
  color: var(--secondary-text-color);
  font-size: 0.85em;
}

.InfosDetail + .InfosDetail {
  margin-left: 12px;
}

.InfosDetail + .InfosDetail::before {
  content: "—";
  margin-right: 12px;
}
