.MemberListItem {
  border-bottom: 1px solid var(--list-border);
  display: flex;
  margin: 0 16px;
  padding: 8px 0;
  text-decoration: none;
  position: relative;
  min-height: 48px;
  z-index: 1;
  align-items: center;
  box-sizing: border-box;
}
.MemberListItem::before {
  content: "";
  top: -1px;
  left: -16px;
  right: -16px;
  bottom: -1px;
  position: absolute;
  transition: var(--transition);
  z-index: -1;
}

.MemberListItem:first-child {
  border-top: 1px solid var(--list-border);
}
.MemberListItem > *:first-child {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.Link {
  height: 32px;
  width: 32px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: var(--transition);
}
.Link:hover {
  background: var(--hover-color);
}

.Name svg {
  margin-left: 8px;
}
