.Values {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Label {
  display: flex;
  flex-direction: column;
}

.Date {
  font-size: 0.85em;
  margin-top: 4px;
}

.Overload {
  color: var(--error-text-color);
}

.LimitBlock {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.LimitBlock + .LimitBlock {
  margin-top: 8px;
}

.LimitLabel {
  flex-grow: 1;
  font-weight: 500;
  margin-right: 8px;
}
