.Values {
  align-items: flex-end;
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-family: inherit;
  font-size: inherit;
}

.Label {
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: inherit;
}

.LabelClickable {
  cursor: pointer;
}

.Date {
  font-size: 0.85em;
  margin-top: 4px;
}

.Overload {
  color: var(--error-text-color);
}

.LimitBlock {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.LimitBlock + .LimitBlock {
  margin-top: 8px;
}

.LimitLabel {
  flex-grow: 1;
  font-weight: 500;
  margin-right: 8px;
}

.AbexSmallBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 16px 0 0;
}
