.SearchBox {
  padding: 8px 0 0 0;
  background-color: var(--hover-color);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.SearchCharacter {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 16px;
}
