@media (min-width: 1008px) {
  .TwoColsSticky {
    top: 0;
    position: sticky;
    width: 100%;
    max-width: 480px;
  }
}

.TwoColsSticky {
  width: 480px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}
