html {
  background-image: linear-gradient(to bottom, #e6cb9d, #c59d65);
  min-height: 100%;
  color: #6d452b;
  font-size: 16px;
}

.emblem {
  width: 30px;
  margin-left: 8px;
}
.emblem-count__block {
  display: flex;
  align-items: center;
  max-width: 640px;
  flex-wrap: wrap;
  padding: 16px;
}
.emblem-count__title {
  flex-basis: 100%;
  font-weight: 900;
  margin: 8px 0;
}
.emblem-count__wrapper {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: flex-start;
}

.input-field__wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
.input-field__label {
  margin-bottom: 4px;
}
.input-field {
  background-image: linear-gradient(to bottom, #695238, #6f5943);
  border: 1px solid #968061;
  border-radius: 2px;
  color: #fff;
  padding: 4px 8px;
  height: 32px;
  font-size: 16px;
}

.menu__overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
}
.menu__overlay--active {
  opacity: 1;
  pointer-events: initial;
}
.menu__button {
  height: 24px;
  width: 24px;
  padding: 8px;
}
.menu__content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  bottom: 0;
  background-image: linear-gradient(to bottom, #e6cb9d, #c59d65);
  transform: translateX(-100%);
  transition: 0.2s all cubic-bezier(0.4, 0, 0.6, 1);
}
.menu__content--active {
  transform: translateX(0%);
}
.menu__link {
  padding: 8px 0;
  color: inherit;
  display: flex;
  align-items: center;
}
.menu__link-icon {
  height: 24px;
  width: 24px;
}
