body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;

  --background-color: #f0f0f0;
  --overlay-color: rgba(0, 0, 0, 0.3);
  --disabled-color: rgba(0, 0, 0, 0.1);
  --text-color: rgba(0, 0, 0, 0.85);
  --secondary-text-color: rgba(0, 0, 0, 0.65);
  --reverse-text-color: #fafafa;
  --reverse-accent-text-color: #f9eb88;
  --reverse-background: rgba(0, 0, 0, 0.9);
  --text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff;
  --reverse-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65), -1px -1px 2px rgba(0, 0, 0, 0.65),
    -1px 1px 2px rgba(0, 0, 0, 0.65), 1px -1px 2px rgba(0, 0, 0, 0.65);
  --accent-color: var(--afk-legendary-color);
  --hover-color: rgba(149, 74, 46, 0.1);
  --focus-color: rgba(149, 74, 46, 0.3);
  --card-color: #fff;
  --card-border-color: rgba(0, 0, 0, 0.38);
  --card-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  --card-reverse-shadow: 0 -2px 3px rgba(0, 0, 0, 0.15);
  --afk-hero-shadow: 0 0 1px #000;
  --afk-ascend-color: #cbd9fe;
  --afk-elite-color: #8330e2;
  --afk-common-color: #00a050;
  --afk-rare-color: #007fff;
  --afk-legendary-color: #f7c02b;
  --afk-mythic-color: #e4444c;
  --afk-plus-color: #fff;
  --success-text-color: #070;
  --error-text-color: #a00;
  --success-background-color: #7c7;
  --error-background-color: #f77;
  --help-background-color: rgba(0, 127, 255, 0.2);
  --warn-background-color: rgba(247, 192, 43, 0.2);
  --like-color: rgb(224, 36, 94);
  --active-color: #00a050;
  --list-border: rgba(0, 0, 0, 0.1);
  --transition: all 0.15s cubic-bezier(0.4, 0, 0.6, 1);
}
body > div {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    --background-color: #121212;
    --overlay-color: rgba(0, 0, 0, 0.3);
    --disabled-color: rgba(0, 0, 0, 0.3);
    --text-color: rgba(255, 255, 255, 0.87);
    --reverse-text-color: rgba(0, 0, 0, 0.85);
    --reverse-background: rgba(200, 200, 200, 0.9);
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    --reverse-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65), -1px -1px 2px rgba(0, 0, 0, 0.65),
      -1px 1px 2px rgba(0, 0, 0, 0.65), 1px -1px 2px rgba(0, 0, 0, 0.65);
    --card-color: #1f1f1f;
    --card-border-color: #555;
    --card-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    --list-border: rgba(255, 255, 255, 0.05);
    --error-text-color: #c00;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  font-size: 16px;
  height: 100%;
}
a {
  color: inherit;
}

#page {
  align-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  height: 100%;
  justify-content: center;
  margin: auto;
  margin-bottom: 76px;
  overflow: auto;
  padding: 16px 16px 92px 16px;
}
@media (max-width: 1007px) {
  #page > * {
    flex-shrink: 0;
  }
}
