body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;

  --background-color: #f0f0f0;
  --overlay-color: rgba(0, 0, 0, 0.3);
  --disabled-color: rgba(0, 0, 0, 0.1);
  --text-color: rgba(0, 0, 0, 0.85);
  --secondary-text-color: rgba(0, 0, 0, 0.65);
  --reverse-text-color: #fafafa;
  --reverse-accent-text-color: #f9eb88;
  --reverse-background: rgba(0, 0, 0, 0.9);
  --text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff;
  --reverse-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65), -1px -1px 2px rgba(0, 0, 0, 0.65),
    -1px 1px 2px rgba(0, 0, 0, 0.65), 1px -1px 2px rgba(0, 0, 0, 0.65);
  --accent-color: var(--afk-legendary-color);
  --hover-color: rgba(149, 74, 46, 0.1);
  --focus-color: rgba(149, 74, 46, 0.3);
  --card-color: #fff;
  --card-border-color: rgba(0, 0, 0, 0.38);
  --card-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  --card-reverse-shadow: 0 -2px 3px rgba(0, 0, 0, 0.15);
  --afk-hero-shadow: 0 0 1px #000;
  --afk-ascend-color: #cbd9fe;
  --afk-elite-color: #8330e2;
  --afk-legendary-color: #f7c02b;
  --afk-mythic-color: #e4444c;
  --afk-plus-color: #fff;
  --success-text-color: #070;
  --error-text-color: #700;
  --success-background-color: #7c7;
  --error-background-color: #f77;
  --help-background-color: rgba(0, 127, 255, 0.2);
  --like-color: rgb(224, 36, 94);
  --list-border: rgba(0, 0, 0, 0.1);
  --transition: all 0.15s cubic-bezier(0.4, 0, 0.6, 1);
}
@media (prefers-color-scheme: dark) {
  body {
    --background-color: #121212;
    --overlay-color: rgba(0, 0, 0, 0.3);
    --disabled-color: rgba(0, 0, 0, 0.3);
    --text-color: rgba(255, 255, 255, 0.87);
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    --reverse-text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65), -1px -1px 2px rgba(0, 0, 0, 0.65),
      -1px 1px 2px rgba(0, 0, 0, 0.65), 1px -1px 2px rgba(0, 0, 0, 0.65);
    --card-color: #1f1f1f;
    --card-border-color: #555;
    --card-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  font-size: 16px;
  min-height: 100%;
}
a {
  color: inherit;
}
