.ItemPicker {
  align-items: center;
  border-radius: 6px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 0 0 0 16px;
  width: 40px;
}

.Add {
  background: transparent;
  border: 0;
  border: 1px solid var(--card-border-color);
  border-radius: 6px 0;
  color: var(--text-color);
  cursor: pointer;
  font-size: 24px;
  height: 100%;
  outline: 0;
  width: 100%;
}
