.TotalCost {
  align-items: center;
  color: var(--error-text-color);
  display: flex;
  font-size: 20px;
  font-weight: 500;
  justify-content: center;
  padding: 16px 0;
}
.Diamond {
  height: 30px;
  margin-right: 8px;
}
.Best {
  color: var(--success-text-color);
}
